<footer class="topnav">
  <div class="foot-copyright">
    <div class="container">
      All articles belong to <a href="https://www.climbing.com/" target="_blank">The Climbing Magazine</a>
      <a class="grey-text text-lighten-4 right" href="/articles-json" Article JSON></a>
    </div>
  </div>
</footer>